# Regressão Linear
#### É possivel predizer a idade da pessoa a partir dos dados?

In [2]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv('../datasets/shootings.csv')
df.head()
df.groupby('flee').count()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,body_camera,arms_category
flee,,,,,,,,,,,,,,
Car,820,820,820,820,820,820,820,820,820,820,820,820,820,820
Foot,642,642,642,642,642,642,642,642,642,642,642,642,642,642
Not fleeing,3073,3073,3073,3073,3073,3073,3073,3073,3073,3073,3073,3073,3073,3073
Other,360,360,360,360,360,360,360,360,360,360,360,360,360,360

In [72]:
data = df.copy()
binary_gender = data['gender'] =='M'
binary_gender = binary_gender.astype(int)
data['gender'] = binary_gender

data['armed'] = (data['armed'] != 'unarmed').astype(int)

data['flee'] = (data['flee'] != 'Not fleeing').astype(int)

data['signs_of_mental_illness'] = data['signs_of_mental_illness'].astype(int)
data= data.drop(['name','date','id','city'], axis=1)
data = pd.get_dummies(data)
data

,armed,age,gender,signs_of_mental_illness,flee,body_camera,manner_of_death_shot,manner_of_death_shot and Tasered,race_Asian,race_Black,...,arms_category_Explosives,arms_category_Guns,arms_category_Hand tools,arms_category_Multiple,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Sharp objects,arms_category_Unarmed,arms_category_Unknown,arms_category_Vehicles
0,1,53.0,1,1,0,False,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,1,47.0,1,0,0,False,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,23.0,1,0,0,False,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,32.0,1,1,0,False,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,39.0,1,0,0,False,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,1,27.0,1,0,1,True,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4891,1,23.0,1,0,1,False,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4892,0,25.0,0,0,0,False,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4893,1,22.0,1,0,1,False,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4894,1,31.0,1,0,1,False,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0