# Regressão Linear
#### É possivel predizer a idade da pessoa a partir dos dados?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
df = pd.read_csv('../datasets/shootings.csv')
df.head()
#df.groupby('flee').count()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [49]:
data = df.copy()
binary_gender = data['gender'] =='M'
binary_gender = binary_gender.astype(int)
data['gender'] = binary_gender

data['armed'] = (data['armed'] != 'unarmed').astype(int)

data['flee'] = (data['flee'] != 'Not fleeing').astype(int)

data['signs_of_mental_illness'] = data['signs_of_mental_illness'].astype(int)
data= data.drop(['name','date','id','city','body_camera'], axis=1)
data = pd.get_dummies(data)
data

,armed,age,gender,signs_of_mental_illness,flee,manner_of_death_shot,manner_of_death_shot and Tasered,race_Asian,race_Black,race_Hispanic,...,arms_category_Explosives,arms_category_Guns,arms_category_Hand tools,arms_category_Multiple,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Sharp objects,arms_category_Unarmed,arms_category_Unknown,arms_category_Vehicles
0,1,53.0,1,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,47.0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,23.0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,1,32.0,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,39.0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,1,27.0,1,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4891,1,23.0,1,0,1,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4892,0,25.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4893,1,22.0,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4894,1,31.0,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [56]:
X = data.drop('age',axis=1)
y = data['age']
X['intercept'] = 1
c = X.columns.tolist()
c.insert(0,c[-1])
X=X.reindex(columns = c[:-1])
X

,intercept,signs_of_mental_illness,flee,race_Black,race_Hispanic,race_Native,race_Other,race_White,state_AZ,state_FL,...,state_IA,state_IL,state_NJ,state_NY,state_OH,arms_category_Guns,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Unarmed,arms_category_Vehicles
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4891,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4892,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4893,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4894,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
sc = StandardScaler()

In [52]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2)
Z_train = sc.fit_transform(X_train)
sc.fit(X_train)
Z_test = sc.transform(X_test)
X_train.shape

(3916, 79)

In [53]:
def significants(l):
    return [ int(l.index(i)) for i in l if i>-0.3 and i<0.3 ]

In [136]:
#model = SGDRegressor(max_iter = np.ceil(10**6 / len(Z_train)),tol=1e-5,shuffle=True)
model = Ridge()
model.fit(Z_train,y_train)
y_hat = model.predict(X_test)
err = mean_squared_error(y_test,y_hat)
r2 = r2_score(y_test,y_hat)
print('Erro quadratico:',err,'\nR²:',r2)
idxs = significants(model.coef_.tolist())

Erro quadratico: 147.31837064945637
R²: 0.062186546263627296

In [55]:
c = data.columns
c = c[idxs]
data = data.drop(c,axis=1)
data

,age,signs_of_mental_illness,flee,race_Black,race_Hispanic,race_Native,race_Other,race_White,state_AZ,state_FL,...,state_IA,state_IL,state_NJ,state_NY,state_OH,arms_category_Guns,arms_category_Other unusual objects,arms_category_Piercing objects,arms_category_Unarmed,arms_category_Vehicles
0,53.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,47.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,23.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,32.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,39.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,27.0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4891,23.0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4892,25.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4893,22.0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4894,31.0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [155]:
X = data.drop('age',axis=1)
y = data['age']
X['intercept'] = 1
c = X.columns.tolist()
c.insert(0,c[-1])
X=X.reindex(columns = c[:-1])

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2)
Z_train = sc.fit_transform(X_train)
sc.fit(X_train)
Z_test = sc.transform(X_test)
X_train.shape

model.fit(Z_train,y_train)
y_hat = model.predict(X_test)
err = mean_squared_error(y_test,y_hat)
r2 = r2_score(y_test,y_hat)
print('Erro quadratico:',err,'\nR²:',r2)

Erro quadratico: 154.15254023555488
R²: 0.0819881042077586